<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="joint" params="joint_name">
    <joint name="${joint_name}">
      <command_interface name="position" />
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>
  </xacro:macro>
  <xacro:macro name="ros2_control">
    <ros2_control name="prealpha" type="system">
      <hardware>
        <plugin>topic_based_ros2_control/TopicBasedSystem</plugin>
        <param name="joint_commands_topic">/mj_joint_commands</param>
        <param name="joint_states_topic">/mj_joint_states</param>
      </hardware>
      <joint name="left_wheel">
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>
      <joint name="right_wheel">
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>
      <xacro:joint joint_name="left_arm_0" />
      <xacro:joint joint_name="left_arm_1" />
      <xacro:joint joint_name="left_arm_2" />
      <xacro:joint joint_name="left_arm_3" />
      <xacro:joint joint_name="left_arm_4" />
      <xacro:joint joint_name="left_arm_5" />
      <xacro:joint joint_name="left_arm_6" />
      <xacro:joint joint_name="right_arm_0" />
      <xacro:joint joint_name="right_arm_1" />
      <xacro:joint joint_name="right_arm_2" />
      <xacro:joint joint_name="right_arm_3" />
      <xacro:joint joint_name="right_arm_4" />
      <xacro:joint joint_name="right_arm_5" />
      <xacro:joint joint_name="right_arm_6" />
      <xacro:joint joint_name="head_0" />
      <xacro:joint joint_name="head_1" />
      <xacro:joint joint_name="torso_0" />
      <xacro:joint joint_name="torso_1" />
      <xacro:joint joint_name="torso_2" />
      <xacro:joint joint_name="torso_3" />
      <xacro:joint joint_name="torso_4" />
      <xacro:joint joint_name="torso_5" />
      <xacro:joint joint_name="gripper_finger_l1" />
      <xacro:joint joint_name="gripper_finger_r1" />
      <joint name="gripper_finger_l2">
        <param name="mimic">gripper_finger_l1</param>
        <param name="multiplier">-1</param>
        <command_interface name="position" />
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>
      <joint name="gripper_finger_r2">
        <param name="mimic">gripper_finger_r1</param>
        <param name="multiplier">-1</param>
        <command_interface name="position" />
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>
    </ros2_control>
  </xacro:macro>
</robot>
