<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="prealpha">
  <xacro:arg name="ros2_control_hardware_type" default="mock_components" />
  <xacro:arg name="gripper" default="robotiq" />
  <xacro:arg name="robot_ip" default="" />
  <xacro:property name="ros2_control_hardware_type" value="$(arg ros2_control_hardware_type)" />
  <xacro:property name="gripper" value="$(arg gripper)" />

  <xacro:if value="${gripper == 'robotiq'}">
    <link name="left_tcp_link" />
    <joint name="left_tcp_joint" type="fixed">
      <parent link="left_robotiq_85_base_link" />
      <child link="left_tcp_link" />
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.134" />
      <axis xyz="0 0 1" />
    </joint>
    <link name="right_tcp_link" />
    <joint name="right_tcp_joint" type="fixed">
      <parent link="right_robotiq_85_base_link" />
      <child link="right_tcp_link" />
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.134" />
      <axis xyz="0 0 1" />
    </joint>
    <xacro:include filename="$(find robotiq_description)/urdf/robotiq_2f_85_macro.urdf.xacro" />
    <xacro:robotiq_gripper name="robotiq_gripper" prefix="right_"
      parent="FT_sensor_R" include_ros2_control="false">
      <origin xyz="0 0 -0.0461" rpy="-${pi} 0 0" />
    </xacro:robotiq_gripper>
    <xacro:robotiq_gripper name="robotiq_gripper" prefix="left_"
      parent="FT_sensor_L" include_ros2_control="false">
      <origin xyz="0 0 -0.0461" rpy="-${pi} 0 ${pi}" />
    </xacro:robotiq_gripper>
  </xacro:if>

  <xacro:include filename="$(find prealpha_description)/urdf/model.urdf" />
  <xacro:include
    filename="$(find prealpha_description)/control/$(arg ros2_control_hardware_type).ros2_control.xacro"
  />
  <xacro:if value="${ros2_control_hardware_type == 'real'}">
    <xacro:ros2_control gripper="$(arg gripper)" robot_ip="$(arg robot_ip)" />
  </xacro:if>
  <xacro:if value="${ros2_control_hardware_type != 'real'}">
    <xacro:ros2_control gripper="$(arg gripper)" />
  </xacro:if>
</robot>
